body{
    text-align: center;
    background-image: url("back.gif");
    background-size: cover;
}
h1{
    background: -webkit-linear-gradient(45deg, #32618a,#695289);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: -2px -1px 8px #21182d;
}
span{
    padding-bottom: 2px; 
    background-image: linear-gradient(to right, #746885 ,#14314f, transparent);
    background-size: 100% 2px; 
    background-repeat: no-repeat; 
    background-position: bottom;
}
.inner{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: 800px;
    margin-top: 20px;
}
img{
    display: block;
    margin: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 10px 1px #7a6285;
}
.main{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
